/* Layout */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

#main_wrapper {
  margin: 2em auto;
  padding: 20px;
  width: 960px;
}
#content_wrapper {
  padding: 20px;
  position: relative;
  bottom: 1px;
}

.navigation {
  float: left;
  list-style: none;
  height: 100%;
}
#info_navigation {
  float :right;
}
  .navigation li {
    border-bottom: none;
    float: left;
    margin-right: 10px;
    height: 100%;
  }
    .navigation .current,
    .navigation a {
      color: #666;
      display: block;
      float: left;
      font-family: Helvetica, sans-serif;
      padding: 8px 1em;
      text-decoration: none;
    }
    #info_navigation a {
      padding: 8px 0.25em;
    }
    .navigation .current {
      background-color: white;
      border: 1px solid orange;
      border-bottom: 1px solid white;
      color: #000;
      position: relative;
      z-index: 10;
    }
    .navigation a:hover {
      color: orange;
    }
    .navigation .handle {
      bottom: 2px;
      position: relative;
      right: 4px;
      z-index: 100;
    }

.flash {
  border: 1px solid;
  margin: 0.25em 0;
  padding: 13px;
}
  #flash_notice {
    color: #4F8A10;
    background-color: #DFF2BF;
  }
  #flash_warning {
    color: #9F6000;
    background-color: #FEEFB3;
  }
  #flash_error {
    color: #D8000C;
    background-color: #FFBABA;
  }


/* Reusable bits */
h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }

fieldset {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 10px;
}
  legend {
    font-weight: bold;
    padding: 0 5px;
  }

.clr {
  clear: both;
}
.handle {
  cursor: move;
}


/* Galleries */
.gallery_wrapper {
  border: 1px solid orange;
}

.info_wrapper {
  border: 1px solid yellow;
}

#gallery_categories .handle {
  display: block;
  float: left;
  overflow: hidden;
  width: 300px;
}
