<%- @title = 'About' -%>
<div id="about">

  <h1>About me</h1>

  <%= image_tag "faded.jpg", :alt => "Grace", :id => 'profile' %>

  <div id="quickbits">
    <hr class="between" style="margin-top: 0; margin-bottom: 30px;" />
    <ul>
      <li>
        Resides in the San Francisco Bay Area
      </li>
      <li>
        Looking for a job in the 
        <strong>fashion industry</strong>
      </li>
      <li>
        Received B.A. in Practice of Art and Psychology from <span class="underline">UC Berkeley</span>
      </li>
      <li>
        <%= link_to "View my resume", resume_path %>
      </li>
    </ul>
    <hr class="between" style="margin-top: 0;" />
  </div>

  <div id="bio">
    <p>
      Hello! Thanks for stopping by my site! My name is Grace Chow, and this site is a collection of my favorite works. I hope you enjoy them!
    </p>

    <p>
      I grew up in <a href="http://en.wikipedia.org/wiki/Diamond_Bar,_California">Diamond Bar, California</a>, with my parents and my one and only older sister, Priscilla. After moving to Berkeley for college, I’ve fallen in love with the Bay Area, especially San Francisco. I suppose it is the culture, the food, the landscape, and the people that made me stay after I graduated in May 2009. I am currently attending <a href="http://fidm.edu/">FIDM (Fashion Institute of Design and Merchandising)</a> in downtown San Francisco, studying Fashion Design.
    </p>

    <p>
      I am currently looking for a creative internship in the fashion industry that will exercise my art skills (<%= link_to "my resume", resume_path %>). I am passionate about both fashion and art, and I would love to get more experience working as an assistant fashion designer. Feel free to contact me for any suggestions or feedback you have for my site! Thank you!
    </p>
  </div>
</div>