<%- @title = 'About' -%>
<div id="about">

  <h1>About me</h1>

  <%= image_tag "faded.jpg", :alt => "Grace", :id => 'profile' %>

  <div id="quickbits">
    <hr class="between" style="margin-top: 0; margin-bottom: 30px;" />
    <ul>
      <li>
        Resides in the San Francisco Bay Area
      </li>
      <li>
        Looking for a job in the 
        <strong>fashion industry</strong>
      </li>
      <li>
        Received B.A. in Practice of Art and Psychology from <span class="underline">UC Berkeley</span>
      </li>
    </ul>
    <hr class="between" style="margin-top: 0;" />
  </div>

  <div id="bio">
    <p>
      Hello! Thanks for stopping by my site! My name is Grace Chow and this site is a collection of my favorite work. Although the majority of the pieces were completed when I was a <a href="http://art.berkeley.edu/">Practice of Art</a> major at <a href="http://berkeley.edu/">UC Berkeley</a>, a few of them were done in <a href="http://dbhs.wvusd.k12.ca.us/">high school</a>.
    </p>

    <p>
      I grew up in <a href="http://en.wikipedia.org/wiki/Diamond_Bar,_California">Diamond Bar, California</a>, with my parents and my one and only older sister, Priscilla. I was originally born in Hong Kong until my parents decided to move here when I was 9 years old. I’m proud to say I can still read and write in Chinese with the limited Chinese education I had.
    </p>

    <p>
      After moving to Berkeley for college, I’ve fallen in love with the Bay Area, especially San Francisco. I suppose it is the culture, the food, the landscape, and the people that made me stay after I graduated in May 2009. Since graduating, I’ve been learning Photoshop to add one more skill to my creative arsenal. Besides that, I’ve designed this website and kindly asked <a href="http://duskdesigns.com/">my boyfriend</a> to build it.
    </p> 

    <p>
      I am currently looking for a creative job in the fashion industry that will exercise my art skills. I am passionate about both fashion and art, and I would love to get more experience in fashion design, textile design, product design, advertising, and photography. Feel free to <%= link_to "contact me", contact_path %> for any suggestions or feedback you have for my site! Thank you!
    </p>
  </div>
</div>