<%- @title = 'About' -%>
<div id="about">

  <h1>About me</h1>

  <%= image_tag "professional_profile.jpg", :alt => "Grace", :id => 'profile' %>

  <div id="quickbits">
    <hr class="between" style="margin-top: 0; margin-bottom: 30px;" />
    <ul>
      <li>
        Resides in the San Francisco Bay Area
      </li>
      <li>
        Looking for an <strong>assistant fashion designer position</strong>
      </li>
      <li>
        Recent graduate of <a href="http://fidm.edu/" title="Fashion Institute of Design and Merchandising">FIDM</a> with an emphasis in Fashion Design.
      </li>
      <li>
        Bachelor’s of Arts graduate of <span class="underline">U.C. Berkeley</span> in both Fine Art and Psychology.
      </li>
      <li>
        <%= link_to "View my resume", resume_path %>
      </li>
    </ul>
    <hr class="between" style="margin-top: 0;" />
  </div>

  <div id="bio">
    <p>
      Grace has work experience in conceptualizing mini fashion collections to CAD to pattern drafting to final execution, backstage fashion shows, and photo shoot styling.
    </p>
    <p>
      A passionate and results-driven fashion designer and artist, Grace perfects every detail with tremendous dedication and enthusiasm. She is a reliable and supportive team player who can translate creative concepts into marketable products.
    </p>
    <p>
      She is looking for an assistant designer position in the San Francisco Bay Area or the Los Angeles area, so please feel free to <strong><%= link_to "contact her", contact_path %></strong>!
    </p>
  </div>
</div>