<a href="#">Add Artwork</a> | 
<%= link_to 'Edit Gallery', edit_gallery_path(@gallery) %> | 
<%= link_to 'Delete Gallery', @gallery, :confirm => 'Are you sure?', :method => :delete %>

<br /><br />

<%- @categories.each do |category| -%>
  <h2><%= h(category.name) %></h2>
<% end -%>