<% cache 'navigation' do %>
<ol id="main_navigation">
  <% Gallery.ordered.each do |gallery| %>
    <li>
      <%- link_text = h(gallery.name) -%>
      <%= link_to_unless_current link_text, gallery do
          "<span class='current'>#{ link_text }</span>"
        end %>
    </li>
  <% end -%>
</ol>
<div class="clr"></div>
<% end -%>