<% cache 'navigation' do %>
<ol id="info_navigation" class="navigation">
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
</ol>

<ol id="main_navigation" class="navigation">
  <% Gallery.ordered.each do |gallery| %>
    <li>
      <%- link_text = h(gallery.name) -%>
      <%= link_to_unless_current link_text, gallery do
          "<span class='current'>#{ link_text }</span>"
        end %>
    </li>
  <% end -%>
  <li><%= link_to '+', new_gallery_path %></li>
</ol>
<div class="clr"></div>
<% end -%>